{{extend 'layout/base.html'}}

<div id="inviteWrapper" class="centered clearfix">
    <div id="invite_buttons" class="pressed">
        <div class="in">
            <ul>
                <li class="selected"><a href="">email</a></li>
                <li><a href="{{=URL('invites', 'linkedin')}}">LinkedIn</a></li>
            </ul>
        </div>
    </div>
    <h1>Invite your friends to Pinformation</h1>
    <form id="invite_friends_form">
        <ul class="email">
            <li><input type="text" name="email1" class="wtr rounded" wtr="Email Address 1" tabindex="1"/></li>
            <li><input type="text" name="email2" class="wtr rounded" wtr="Email Address 2" tabindex="2"/></li>
            <li><input type="text" name="email3" class="wtr rounded" wtr="Email Address 3" tabindex="3"/></li>
            <li><input type="text" name="email4" class="wtr rounded" wtr="Email Address 4" tabindex="4"/></li>
            <li><input type="text" name="email5" class="wtr rounded" wtr="Email Address 5" tabindex="4"/></li>
            <li><textarea name="message" class="wtr rounded" wtr="Add a personal note (opional):" tabindex="6"></textarea></li>
            <li><span class="button blue"><a onclick="return ajax_with_msg('{{=URL('api', 'send_emails')}}', $('#invite_friends_form'));" tabindex="7">Send Invites</a></span></li>
        </ul>
    </form>
</div>